
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto;
}

body {
  background-color: white;
}

#box {
  background-color: blue;
  padding: 40px;
  border: 5px solid black;
  width: 150px;
  height: 150px;
  margin-left: 650px;
}
#content {
  background-color: #90EE90; /* green */
}

h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

a:link {
    text-decoration: none;
}
